/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
	font-family: "momochidori", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: #2B292B;
	color: #fff;
	font-size: 1rem;
	
}

/* Changing the background colour for the header */

header {
	background-color: #502A75;
}

/* The navigation bar */

.navbar {
	background-color: #502a75;
	font-family: "mono45-headline", monospace;
	font-style: normal;
}

.navbar-light .navbar-nav .nav-link{
	color: white !important; 
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
	color: #22998a !important; 
  }

  .navbar-light .navbar-nav .nav-link.active {
	color: #22998a !important; 
  }
/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */
.navbar-corporate-inactive {
	color: white !important; 
	
}
#navbar-corporate a.active {
	color: #22998a !important;
	font-weight: bold;
}

/* Typography styles */

h1{
	font-family: "chinese-rocks", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	font-size: 6rem;
}

.h1-corporate{
	font-size: 3rem;
}

h2 {
	font-family: "mono45-headline", monospace;
	font-weight: bold;
	font-style: normal;

}

h3 {
	font-family: "mono45-headline", monospace;
	font-style: normal;
}

/* Green section */
.green-section {
	background-color: #22998a;
	padding: 60px 0;
	width: 100%;
  }

  .purple-section {
	background-color: #502a75;
	padding: 60px 0;
	width: 100%;
  }
  
  .custom-section h2,
  .custom-section p {
	color: white;
  }
  
/* Button style */
  .button-purple {
	background-color: #9b52e2;
	border-color: #9b52e2;
	color: white;
	font-size: 1rem;
  }
  
  .button-purple:hover {
	background-color: #502a75	;
	border-color: #502a75	;
	color: white;
  }
  
  .button-outline-white {
	background-color: transparent;
	border: 2px solid white;
	color: white;
	font-size: 1rem;
  }
  
  .button-outline-white:hover {
	opacity: .5;
	border: 2px solid white;
  }
  
/* Footer style */

footer {
	background-color: #502A75;
	color: white;
	padding: 40px 20px;
	font-family: "mono45-headline", monospace;
  }
  
  .footer-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: auto;
  }
  
  .footer-logo img {
	max-width: 200px;
	margin-top: 40px
  }
  
  .footer-sitemap,
  .footer-contact {
	min-width: 200px;
  }
  
  .footer-sitemap {
	text-align: center;
  }
  
  .footer-sitemap h4,
  .footer-contact h4 {
	margin-bottom: 10px;
  }
  
  .footer-sitemap ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .footer-sitemap ul li a {
	color: white;
	text-decoration: none;
  }
  
  .footer-contact {
	text-align: right;
  }
  
  .footer-bottom {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 30px;
	font-size: 0.9em;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
  }
  
  .footer-bottom-left,
  .footer-bottom-right {
	margin-bottom: 10px;
  }

/* Value blocks */

  .value-block-purple {
	background-color: #9b52e2;
	border-radius: 0; 
	padding: 20px;
	color: white; 
  }

  .value-block-green {
	background-color: #41c2b2;
	border-radius: 0; 
	padding: 20px;
	color: white; 
  }

  /*center images*/
  
  .center-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
  
  .custom-table {
	color: white;
	border: 1px solid white;
	background-color: transparent;
	border-collapse: collapse;
	width: 100%;
  }
  
  .custom-table th,
  .custom-table td {
	border: 1px solid white;
	padding: 8px;
  }
  
  .custom-table thead tr {
	background-color: #502a75;
  }

  /*hero video*/
  .background-vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.image-hero {
	max-width: 100%;
	height: auto;
	width: 600px; /* startgrootte op groot scherm */
	display: block;
	margin: 0 auto;
  }
  
  @media (max-width: 768px) {
	.image-hero {
	  width: 200px;
	}
  }
  
  @media (max-width: 480px) {
	.image-hero {
	  width: 150px;
	}
  }
  

.h100 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    object-fit: cover;
}

.h200 {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    object-fit: cover;
}

 .t-overlay-vid {
    position: absolute;
    top: 20vh;
    width: 100%;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    color: #fff;
    z-index: 1;

}

.text-overlay{
	text-align: center;
}

.img-thumbnail{
	height: 300px;
}